/* notes
<link rel="stylesheet" media="screen and (min-width: 1024px)" href="wis-news-site-desktop.css">
<link rel="stylesheet" media="screen and (max-width: 1023px)" href="wis-news-site-tablet.css">
<link rel="stylesheet" media="screen and (max-width: 480px)" href="wis-news-site-mobile.css">
*/

// imports
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

// Bootstrap scss
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// variables
$clr-primary: #193441;
$clr-primary-brightened: lighten($clr-primary, 15%);
$clr-primary-darkmode: lighten($clr-primary, 75%);
$clr-secondary: #d1dbbd;
$clr-light: #fcfff5;
$clr-dark: darken(#193441, 5%);
$clr-bg-dark: darken(#91aa9d, 15%);
$font-heading: Merriweather, sans-serif;
$font-subheading: Oswald, sans-serif;
$font-primary: Roboto, sans-serif;
$desktop-bp: 1024px;
$tablet-bp: 1023px;
$mobile-bp: 480px;

// global
body.light {
  display: flex;
  flex-direction: column;
  background: $clr-light;
  min-height: 100vh;
  h1,
  h2 {
    color: $clr-primary;
  }
  h1 {
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.5em;
    font-family: $font-heading;
  }
  h2 {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.6;
    font-family: $font-subheading;
  }
  h3 {
    // the category heading for blog.js
    display: inline-block;
    color: lighten($clr-primary, 10%);
    background-color: $clr-light;
    font-size: 1.1em;
    font-weight: 400;
    font-family: $font-primary;
    line-height: 1.6;
    border-radius: 0.5vmax;
    padding: 0 1.5vmin;
    margin-top: 3.75vmin;
    margin-bottom: 2.5vmin;
    max-width: fit-content;
    z-index: 2;
  }
  p,
  ul {
    color: $clr-dark;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
  }
  a {
    color: $clr-primary;
    text-decoration: none;
    p {
      color: $clr-primary;
      margin: 1.25vmin 2.5vmin;
    }
  }
  a:hover,
  a:focus {
    color: $clr-primary-brightened;
    text-decoration: none;
    .fa {
      //fa when container link is hovered
      color: $clr-primary-brightened;
    }
    h2 {
      color: $clr-primary-brightened;
    }
    p {
      color: $clr-primary-brightened;
    }
  }
  .activeLink {
    color: $clr-primary-brightened;
    i {
      color: $clr-primary-brightened;
    }
  }
  .fa {
    color: $clr-primary;
  }

  // images
  figure {
    max-width: 60%;
    border-radius: 2.5em;
    margin: 5vh 0;
    img {
      border-radius: 2.5vmin;
      color: $clr-bg-dark;
    }
    figcaption {
      font-size: 0.9em;
      color: $clr-bg-dark;
      margin-top: -1em;
      text-indent: 1em;
    }
  }
  @media (max-width: $tablet-bp) {
    figure {
      max-width: 65%;
    }
  }
  @media (max-width: $mobile-bp) {
    figure {
      max-width: 100%;
    }
  }

  footer {
    color: $clr-dark;
  }
}

body.dark {
  display: flex;
  flex-direction: column;
  background: $clr-dark;
  min-height: 100vh;
  h1,
  h2 {
    color: $clr-primary-darkmode;
  }
  h1 {
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.5em;
    font-family: $font-heading;
  }
  h2 {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.6;
    font-family: $font-subheading;
  }
  h3 {
    // the category heading for blog.js
    display: inline-block;
    color: darken($clr-primary-darkmode, 10%);
    background-color: $clr-dark;
    font-size: 1.1em;
    font-weight: 400;
    font-family: $font-primary;
    line-height: 1.6;
    border-radius: 0.5vmax;
    padding: 0 1.5vmin;
    margin-top: 3.75vmin;
    margin-bottom: 2.5vmin;
    max-width: fit-content;
    z-index: 2;
  }
  p,
  ul {
    color: $clr-light;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
  }
  a {
    color: $clr-primary-darkmode;
    text-decoration: none;
    p {
      color: $clr-primary-darkmode;
      margin: 1.25vmin 2.5vmin;
    }
  }
  a:hover,
  a:focus {
    color: $clr-primary-brightened;
    text-decoration: none;
    .fa {
      //fa when container link is hovered
      color: $clr-primary-brightened;
    }
    h2 {
      color: $clr-primary-brightened;
    }
    p {
      color: $clr-primary-brightened;
    }
  }
  .activeLink {
    color: $clr-primary-brightened;
    i {
      color: $clr-primary-brightened;
    }
  }
  .fa {
    color: $clr-primary-darkmode;
  }

  // images
  figure {
    max-width: 60%;
    border-radius: 2.5em;
    margin: 5vh 0;
    img {
      border-radius: 2.5vmin;
      color: $clr-bg-dark;
    }
    figcaption {
      font-size: 0.9em;
      color: $clr-bg-dark;
      margin-top: -1em;
      text-indent: 1em;
    }
  }
  @media (max-width: $tablet-bp) {
    figure {
      max-width: 65%;
    }
  }
  @media (max-width: $mobile-bp) {
    figure {
      max-width: 100%;
    }
  }

  footer {
    color: $clr-light;
  }
}

// header component
header {
  //margin-bottom: 1.45rem;
  //box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.075);
  //background: $clr-light;
  margin: 0 auto;
  margin-bottom: 3.75vh;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7.5vmin 0 3.75vmin;
    //padding: 1.45rem 1.0875rem; //default
    //border: 1px solid red; /* debug */
    .headerNavSection {
      /*border: 1px solid blue; /* debug */
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      a {
        font-family: $font-heading;
        margin-right: 0.75em;
        padding-right: 0.75em;
        border-right: 2px solid $clr-secondary;
        i {
          color: $clr-bg-dark;
          margin-right: 0.35em;
        }
      }
      a:last-of-type {
        border-right: 0;
      }
    }

    @media (min-width: $desktop-bp) {
      .headerLogo {
        display: flex-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.45rem 1.0875rem;
        margin: 0;
        width: 12.5em;
      }
    }
    @media (max-width: $tablet-bp) {
      .headerLogo {
        display: flex-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.45rem 1.0875rem;
        margin: 0;
        width: 15em;
      }
    }
    @media (max-width: $mobile-bp) {
      .headerLogo {
        display: flex-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.45rem 1.0875rem;
        margin: 0;
        width: 15em;
      }
    }
    /*border: 1px solid green; /* debug */
    // cancel out effects of header > div
    img {
      // fix the underline
      padding: 0;
      margin: 0;
    }
  }
  .headerLogo::after {
    content: "";
    display: flex;
    width: 0;
    margin-top: 2px;
    height: 2px;
    background: $clr-primary;
    transition: width 0.4s ease-out;
  }
  .headerLogo:hover::after {
    content: "";
    display: flex;
    width: 100%;
    height: 2px;
    background: $clr-primary;
    transition: width 0.4s ease-in-out;
  }
}

// svg config
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 79, 128, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 79, 128, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

//body

.pageContainer {
  display: flex;
  flex-direction: column;
}

// blog page blog.js
.blogContainer {
  height: fit-content;
  //padding: 2.5vmin;
  outline: 0.25vmin solid transparentize($clr-primary-brightened, 0.675);
  outline-offset: 2.5vmin;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: inherit;
      padding: inherit;
      margin-bottom: 4vh;
      margin-left: 0.5vmax;
      h2 {
        border-bottom: 2px solid $clr-secondary;
        margin-bottom: 1.25vh;
        line-height: 1.4;
        max-width: 65%;
      }
      p {
        // the date in blog.js
        max-width: 65%;
        margin: inherit;
        padding: inherit;
        color: $clr-bg-dark;
      }
      a:hover p {
        color: $clr-bg-dark;
      }
      @media (max-width: $tablet-bp) {
        h2 {
          max-width: 80%;
          font-size: 1.5em;
        }
        p {
          max-width: 80%;
        }
      }
      @media (max-width: $mobile-bp) {
        h2 {
          max-width: 90%;
          font-size: 1.5em;
        }
        p {
          max-width: 90%;
        }
      }
    }
  }
}

//for templates/blog.js
.blogTemplate {
  .blogPostTitle {
    font-size: 2em;
    line-height: 1.4;
    border-bottom: 2px solid $clr-secondary;
    max-width: 65%;
  }
  @media (max-width: $tablet-bp) {
    .blogPostTitle {
      font-size: 2em;
      line-height: 1.4;
      border-bottom: 2px solid $clr-secondary;
      max-width: 80%;
    }
  }
  @media (max-width: $mobile-bp) {
    .blogPostTitle {
      font-size: 2em;
      line-height: 1.4;
      border-bottom: 2px solid $clr-secondary;
      max-width: 100%;
    }
  }
  .blogContent {
    margin: 5vh 0;
    h2 {
      margin-top: 7.5vh;
      margin-bottom: 2.5vh;
      max-width: 80%;
    }
    p {
      max-width: 65%;
    }
    @media (max-width: $tablet-bp) {
      p {
        max-width: 80%;
      }
    }
    @media (max-width: $mobile-bp) {
      p {
        max-width: 100%;
      }
    }
  }
}

// about page about.js
.aboutContainer {
  display: flex;
  //border: 1px solid red; //debug
  .flexAbout {
    margin-right: 2.5vmax;
    //border: 1px solid blue; //debug
  }
  .flexContact {
    height: fit-content;
    padding: 2.5vmax;
    border: 0.25vmin solid transparentize($clr-primary-brightened, 0.675);
    a,
    span {
      display: flex;
      align-items: center;
      p {
        margin: 1.25vmin 2.5vmin;
      }
    }
  }
  h1,
  h2 {
    color: $clr-primary;
  }
}
@media (max-width: $mobile-bp) {
  .aboutContainer {
    flex-wrap: wrap;
    .flexAbout {
      padding: 0;
    }
  }
}

//footer
footer {
  display: flex;
  margin-top: 7.5vmax;
  //border: 1px solid green; //debug
}
