// imports
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

// Bootstrap scss
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// variables
$clr-primary: #193441;
$clr-primary-brightened: lighten($clr-primary, 15%);
$clr-primary-darkmode: lighten($clr-primary, 75%);
$clr-secondary: #d1dbbd;
$clr-light: #fcfff5;
$clr-dark: darken(#193441, 5%);
$clr-theme-light: #155334;
$clr-theme-dark: #5fc99d;
$font-heading: Merriweather, serif;
$font-subheading: Oswald, sans-serif;
$font-primary: Roboto, sans-serif;
$desktop-bp: 1024px;
$tablet-bp: 1023px;
$mobile-bp: 480px;

::selection {
  background-color: lighten($clr-dark, 25%);
  color: $clr-light;
}

// global
body.light,
body.dark {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  h1 {
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.5em;
    font-family: $font-heading;
  }
  h2 {
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.4;
    font-family: $font-subheading;
  }
  figcaption {
    margin-top: 1.5em;
    font-size: 0.9em;
    color: $clr-theme-light;
    //margin-top: -1em;
  }
}

body.light {
  background: $clr-light;
  h1,
  h2 {
    color: $clr-primary;
  }
  h3 {
    // the category heading for blog.js
    display: block;
    color: transparentize($clr-primary, 0.25);
    font-size: 1.1em;
    font-weight: 400;
    font-family: $font-heading;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-bottom: 5vmin; // cancel out the outline from blogContainer
    padding-top: 3.75vh;
    max-width: fit-content;
  }
  p,
  ul {
    color: $clr-dark;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
  }
  a {
    color: $clr-primary;
    text-decoration: none;
    p {
      color: $clr-primary;
      margin: 1.25vmin 2.5vmin;
    }
  }
  a:hover,
  a:focus {
    color: $clr-primary-brightened;
    text-decoration: none;
    .fa {
      //fa when container link is hovered
      color: $clr-primary-brightened;
    }
    h2 {
      color: $clr-primary-brightened;
    }
    p {
      color: $clr-primary-brightened;
    }
  }
  .activeLink {
    color: $clr-primary-brightened;
    i {
      color: $clr-primary-brightened;
    }
  }
  .fa {
    color: $clr-primary;
  }

  // images
  figure {
    max-width: 45%;
    border-radius: 2.5em;
    margin: 4.25vh 0;
    margin-left: 2.5vmin;
    img {
      //border-radius: 2.5vmin;
      color: $clr-theme-light;
      outline: 0.25vmin solid transparentize($clr-theme-light, 0.375);
      outline-offset: 2.5vmin;
    }
    figcaption {
      color: $clr-theme-light;
    }
  }
  @media (max-width: $tablet-bp) {
    figure {
      max-width: 65%;
    }
  }
  @media (max-width: $mobile-bp) {
    figure {
      max-width: 100%;
    }
  }
  blockquote {
    background: darken($clr-light, 5%);
    border-left: 2px solid $clr-theme-light;
    padding: 1.5vmax;
    padding-left: 2em;
    max-width: 65%;
    margin-top: 1.1em;
    p {
      font-family: $font-heading;
      font-size: 0.8em;
      font-weight: 400;
      max-width: inherit;
      //color: blue;
    }
  }
  @media (max-width: $tablet-bp) {
    blockquote {
      max-width: 80%;
    }
  }
  @media (max-width: $mobile-bp) {
    blockquote {
      max-width: 100%;
    }
  }
  footer {
    color: $clr-dark;
  }
  section {
    a {
      color: $clr-theme-light;
      text-decoration: underline;
    }
    a:hover {
      color: saturate($clr-theme-light, 5%);
      text-decoration: underline;
    }
  }
}

body.dark {
  background: $clr-dark;
  h1,
  h2 {
    color: $clr-primary-darkmode;
  }
  h3 {
    // the category heading for blog.js
    display: block;
    color: transparentize($clr-primary-darkmode, 0.25);
    font-size: 1.1em;
    font-weight: 400;
    font-family: $font-heading;
    line-height: 1.6;
    letter-spacing: 2px;
    margin-bottom: 5vmin; // cancel out the outline from blogContainer
    padding-top: 3.75vh;
    max-width: fit-content;
  }
  p,
  ul {
    color: $clr-light;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
  }
  a {
    color: $clr-primary-darkmode;
    text-decoration: none;
    p {
      color: $clr-primary-darkmode;
      margin: 1.25vmin 2.5vmin;
    }
  }
  a:hover,
  a:focus {
    color: $clr-primary-brightened;
    text-decoration: none;
    .fa {
      //fa when container link is hovered
      color: lighten($clr-primary-brightened, 25%);
    }
    h2 {
      color: lighten($clr-primary-brightened, 25%);
    }
    p {
      color: lighten($clr-primary-brightened, 25%);
    }
  }
  .activeLink {
    color: lighten($clr-primary-brightened, 25%);
    i {
      color: lighten($clr-primary-brightened, 25%);
    }
  }
  .fa {
    color: $clr-primary-darkmode;
  }

  // images
  figure {
    max-width: 45%;
    border-radius: 2.5em;
    margin: 4.25vh 0;
    margin-left: 2.5vmin;
    img {
      //border-radius: 2.5vmin;
      color: $clr-theme-dark;
      outline: 0.25vmin solid lighten($clr-theme-dark, 0.375);
      outline-offset: 2.5vmin;
    }
    figcaption {
      color: darken($clr-theme-dark, 10%);
    }
  }
  @media (max-width: $tablet-bp) {
    figure {
      max-width: 65%;
    }
  }
  @media (max-width: $mobile-bp) {
    figure {
      max-width: 100%;
    }
  }
  blockquote {
    background: lighten($clr-dark, 5%);
    border-left: 2px solid $clr-theme-dark;
    padding: 1.5vmax;
    padding-left: 2em;
    max-width: 65%;
    p {
      font-family: $font-heading;
      font-size: 0.8em;
      font-weight: 400;
    }
  }
  @media (max-width: $tablet-bp) {
    blockquote {
      max-width: 80%;
    }
  }
  @media (max-width: $mobile-bp) {
    blockquote {
      max-width: 100%;
    }
  }
  .blogContent {
    a {
      color: $clr-theme-dark;
    }
    a:hover {
      color: saturate($clr-theme-dark, 5%);
    }
    blockquote {
      p {
        max-width: 100%;
      }
    }
  }
  footer {
    color: $clr-light;
  }
  section {
    a {
      color: $clr-theme-dark;
      text-decoration: underline;
    }
    a:hover {
      color: saturate($clr-theme-dark, 5%);
      text-decoration: underline;
    }
  }
}

// header component
header {
  margin: 0 auto;
  margin-bottom: 3.75vh;
  max-width: 960px;
  padding: 0px 1.0875rem 1.45rem;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 7.5vmin 0 3.75vmin;
    //padding: 1.45rem 1.0875rem; //default
    //border: 1px solid red; /* debug */
    .headerNavSection {
      /*border: 1px solid blue; /* debug */
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      a {
        font-family: $font-heading;
        margin-right: 0.75em;
        padding-right: 0.75em;
        border-right: 2px solid $clr-secondary;
        i {
          color: $clr-theme-light;
          margin-right: 0.35em;
        }
      }
      a:last-of-type {
        border-right: 0;
      }
    }

    @media (min-width: $desktop-bp) {
      .headerLogo {
        display: flex-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.45rem 1.0875rem;
        margin: 0;
        width: 12.5em;
      }
    }
    @media (max-width: $tablet-bp) {
      .headerLogo {
        display: flex-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.45rem 1.0875rem;
        margin: 0;
        width: 15em;
      }
    }
    @media (max-width: $mobile-bp) {
      .headerLogo {
        display: flex-block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.45rem 1.0875rem;
        margin: 0;
        width: 15em;
      }
    }
    /*border: 1px solid green; /* debug */
    // cancel out effects of header > div
    img {
      // fix the underline
      padding: 0;
      margin: 0;
    }
  }
  .headerLogo::after {
    content: "";
    display: flex;
    width: 0;
    margin-top: 2px;
    height: 2px;
    background: $clr-primary;
    transition: width 0.4s ease-out;
  }
  .headerLogo:hover::after {
    content: "";
    display: flex;
    width: 100%;
    height: 2px;
    background: $clr-primary;
    transition: width 0.4s ease-in-out;
  }
}

// svg config
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 79, 128, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 79, 128, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

//body

//home
.pageContainer {
  display: flex;
  flex-direction: column;
  p {
    max-width: 65%;
  }
  @media (max-width: $tablet-bp) {
    p {
      max-width: 80%;
    }
  }
  @media (max-width: $mobile-bp) {
    p {
      max-width: 100%;
    }
  }
}

// blog page blog.js
.blogContainer {
  height: fit-content;
  //outline: 0.25vmin solid transparentize($clr-theme-light, 0.375);
  //outline-offset: 2.5vmin;
  ul {
    display: flex;
    flex-direction: column-reverse;
    //flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: inherit;
      padding: inherit;
      margin-bottom: 3.75vh;
      //margin-left: 0.5vmax;
      h2 {
        border-bottom: 2px solid $clr-secondary;
        margin-bottom: 1.25vh;
        line-height: 1.4;
        max-width: fit-content;
      }
      p {
        // the date in blog.js
        max-width: 65%;
        margin: inherit;
        padding: inherit;
        // color: $clr-theme-light;
      }
      // a:hover p {
      //   color: darken($clr-theme-light, 15%);
      // }
      @media (max-width: $tablet-bp) {
        h2 {
          font-size: 1.5em;
        }
        p {
          max-width: 80%;
        }
      }
      @media (max-width: $mobile-bp) {
        h2 {
          font-size: 1.5em;
        }
        p {
          max-width: 90%;
        }
      }
    }
  }
}

//for templates/blog.js
.blogTemplate {
  .blogPostTitle {
    font-size: 2em;
    line-height: 1.4;
    border-bottom: 2px solid $clr-secondary;
    max-width: fit-content;
  }
  @media (max-width: $tablet-bp) {
    .blogPostTitle {
      font-size: 2em;
      line-height: 1.4;
      border-bottom: 2px solid $clr-secondary;
    }
  }
  @media (max-width: $mobile-bp) {
    .blogPostTitle {
      font-size: 2em;
      line-height: 1.4;
      border-bottom: 2px solid $clr-secondary;
    }
  }
  .blogContent {
    margin: 3.75vmin 0;
    h1 {
      font-size: 1.6em;
      font-family: $font-heading;
      // template blog h1
      //font-size: 2em;
      // margin: 0.8em 0;
    }
    h2 {
      font-size: 1.4em;
      font-family: $font-primary;
      font-weight: 700;
      line-height: 1.3;
      //margin: 2.5vh;
      margin-top: 1.5em;
      margin-bottom: 1.1em;
    }
    a {
      color: $clr-theme-light;
      text-decoration: underline;
    }
    a:hover {
      color: saturate($clr-theme-light, 5%);
      text-decoration: underline;
    }
    img {
      margin: 0;
    }
    h1,
    h2,
    p,
    ul,
    ol {
      max-width: 65%;
    }
    @media (max-width: $tablet-bp) {
      h1,
      h2,
      p,
      ul,
      ol {
        max-width: 80%;
      }
    }
    @media (max-width: $mobile-bp) {
      h1,
      h2,
      p,
      ul,
      ol {
        max-width: 100%;
      }
    }
    blockquote {
      p {
        max-width: 100%;
      }
    }
  }
}

// about page about.js
.aboutContainer {
  display: flex;
  //border: 1px solid red; //debug
  .flexAbout {
    margin-right: 2.5vmax;
    //border: 1px solid blue; //debug
  }
  .flexContact {
    height: fit-content;
    padding: 2.5vmax;
    border: 0.25vmin solid $clr-theme-light;
    a,
    span {
      display: flex;
      align-items: center;
      p {
        margin: 1.25vmin 2.5vmin;
      }
    }
  }
  h1,
  h2 {
    color: $clr-primary;
  }
}
@media (max-width: $mobile-bp) {
  .aboutContainer {
    flex-wrap: wrap;
    .flexAbout {
      padding: 0;
    }
  }
}

//footer
footer {
  display: flex;
  margin-top: 7.5vmax;
  //border: 1px solid green; //debug
}
